.ferramas-content {
  display: flex;
  padding-bottom: 70px; /* deja espacio para el footer */
}

.ferramas-btn {
  width: 260px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  display: block;
}

.ferramas-item h2 {
  color: #3730a3;
  font-size: 1.3rem;
  margin-bottom: 0.2em;
}

.ferramas-item p {
  margin: 0.1em 0;
}

.ferramas-item strong {
  color: #6366f1;
}

.ferramas-btn-circular {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  background: #fff;
  color: #6366f1;
  box-shadow: none;
  transition: background 0.2s, color 0.2s;
}

.ferramas-btn-circular.usd {
  background: #fff;
  color: #6366f1;
  border: 2px solid #6366f1;
}

.ferramas-btn-circular.clp {
  background: #fff;
  color: #f59e42;
  border: 2px solid #f59e42;
}

/* Botón circular verde para agregar producto */
.ferramas-btn-circular.success {
  background: #22c55e;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background 0.2s, color 0.2s;
  margin-right: 19px; 
}

.ferramas-btn-circular.success:hover,
.ferramas-btn-circular.success:focus {
  background: #16a34a;
  color: #fff;
}

.ferramas-footer-toolbar {
  --background: linear-gradient(90deg, #6366f1 0%, #f59e42 100%);
  min-height: 60px;
  padding: 0;
  background: red !important;
}

.ferramas-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ferramas-footer-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 16px;
}

.ferramas-footer-social a {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 8px;
  transition: color 0.2s;
}

.ferramas-footer-social a:hover {
  color: #3730a3;
}

.ferramas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #6366f1 0%, #f59e42 100%);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.ferramas-header-logo {
  height: 100px;
}

.ferramas-login-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem 1.5rem;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
  margin-right: 10px; /* Ajusta el margen izquierdo para alinear con el logo */
}

.ferramas-login-btn:hover,
.ferramas-login-btn:focus {
  background-color: #125ea2;
}

.ferramas-login-icon {
  font-size: 20px;
}

.transfer-alert .alert-message {
  text-align: center;
  white-space: pre-line;
  font-size: 1rem;
  color: #f6f6f6;
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.5;
  padding: 8px 0;
}